* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
justify-content: center;
padding-top: 40px;
gap: 25px;

    
}
.btn-x {
    padding-left: 95%;
    
    .x {
        background: none;
        font-size: 20px;
        cursor: pointer;
    }
    
}

button {
    cursor: pointer;
    border: none;
    color: white;
    
}

dialog {
    width: 500px;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
dialog::backdrop{
    background: #6f6d6d;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    padding-bottom: 39px;
}

input {
    
    
    background-color: #DADADA;
    border: 0;
    width: 420px;
    height: 48px;
    top: 565px;
    left: 644px;
    gap: 0px;
    opacity: 0px;
    
}

.btn {
    width: 420px;
    height: 48px;
    top: 621px;
    left: 644px;
    gap: 0px;
    opacity: 0px;
    
}

.active {
    display: none;
}


.big_box{
    padding-left: 56px;
    h2{
        padding-bottom: 31px;
    }
    li{
    padding-bottom: 12px;
}
}
.big_active{
    display: none;
}